TWITTER_ACCOUNT_TO_DOWNLOAD_FROM=

# Check out botwiki.org/tutorials/how-to-create-a-twitter-app to see how to obtain the keys/secrets below.

TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=
TWITTER_ACCESS_TOKEN=
TWITTER_ACCESS_TOKEN_SECRET=

S3_BUCKET_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
